<div id="form">
  <h4>{{action}} un étudiant</h4>
<form [formGroup]="etudiantData">
  <div class="col">
    <div class="col">
      <input formControlName="id" type="text" class="form-control" placeholder="Id">
    </div>
    <div class="col">
      <input formControlName="nom" type="text" class="form-control" placeholder="Nom">
    </div>
    <div class="col">
      <input formControlName="age" type="text" class="form-control" placeholder="Age">
    </div>
    <div class="col">
    <input type="file" (change)="selectFile($event)" class="form-control">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="actionEtudiant()">{{action}}</button>
    </div>
  </div>
</form>
</div>
